body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'roboto', sans-serif;


}




/* transitions  */

@keyframes transitionInSideBar{
    from {
        opacity: 0;
        transform: translate(-100%);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes transitionInIntro{
    from {
        opacity: 0;
        transform: translateY(-25%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ------ */

.main-container{
    
    display: flex;
    justify-content: space-between;

}


/* Side Bar */
.site-sidebar{
    position: fixed;
    background-color: rgba(145,13,13,.8);
    min-height: 100vh;
    width: 25%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    animation: transitionInSideBar 1s;
   
   
}

.language-options{
    display: flex;
    margin: 5% 0;
    justify-content: space-between;
    width: 50%;

}

.language-options a {
   
    margin: 1%;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.language-options a:hover{
    border-bottom: 2px solid white;
    
}


.avatar-img a{
    display: flex;
    justify-content: center;
}
.avatar-img img{
    width: 60%;
    border-radius: 50%;
 
}

.name-role{
    align-items: center;

}

.name{
    font-weight: 800;
    text-align: center;
}

.role{
    font-weight: 300;

}

.contact{
    width: 50%;
    padding-top: 40%;
    text-align: center;
}

.contact h3{
    font-size: 1.5rem;
}

.contact-links {
    display: flex;
    justify-content: space-around;
}

.logo{
    color: white;
}


/* Main content section */

.main-content{
    margin-left: 27%;
    width: 75%;


}


/* Intro */

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: transitionInIntro 1s; 

background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) ), url('images/technology-3243375_1920.jpg'); 
    background-position: center;
    /* background: #BBD2C5;  
    background: -webkit-linear-gradient(to top, #292E49, #536976, #BBD2C5); 
    background: linear-gradient(to top, #292E49, #536976, #BBD2C5);  */
}
/* 
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  } */
.header{
    font-size: 4rem;
    color: white;
    z-index: 1;
}

.description{
    margin: 0 15%;
    font-size: 1.3rem;
    line-height: 2;
    color: white;
}


.arrow{
    color: rgba(145,13,13,.8);
    /* scroll-behavior: smooth; */
}



.learn-more{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    color: white;
}

.learn-more h3{
    font-size: 1.5rem;
}

.content{

}


/* Nav Bar */

.nav-bar{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 1);
   
}

.nav-bar a{
    text-decoration: none;
    color: white;
    padding: 2% 5%;
    font-size: 1.5rem;
    font-weight: 800;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  padding-top: 5px;
  
}




/* Sections */

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 10%;
    height: 100vh;  
}

.section h2{
    text-align: center;
}

/* Skills section */

#Skills{
   
  display: flex;
 justify-content: center;


   
}

#Skills h2{
    margin-top: 5%;
}

.html-icon{
    color: orange;
}

.css-icon{
    color: blue;
}

.js-icon{
    color: #f0db4f;

}

.react-icon{
    color: #61DBFB;
}

.node-icon{
    color: #44883e;
}

.db-icon{
    color: grey;
}

.skills-container{
    display: flex; 
    flex-wrap: wrap;

    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 20px;
    row-gap: 15px;   
   
}


.skill{
    width: 30%;
}




@media(max-width:900px){
    .skill{
        width: 100%;
    }

    .skills-container{
        flex-direction: column;
    }
}