body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'roboto', sans-serif;

}




/* transitions  */

@keyframes transitionInSideBar{
    from {
        opacity: 0;
        transform: translate(-100%);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes transitionInIntro{
    from {
        opacity: 0;
        transform: translateY(-20%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ------ */


.main-container{
    
    display: flex;
    justify-content: space-between;
 
    
  
}

.site-sidebar{
    position: fixed;
    background-color: rgba(145,13,13,.8);
    min-height: 100vh;
    width: 25%;
    padding: 1rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #fff;


    animation: transitionInSideBar 1s;
   
   
}

.language-options{
    display: flex;
    margin: 5% 0;
    justify-content: space-between;
    width: 50%;

}

.language-options a {
   
    margin: 1%;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.language-options a:hover{
    border-bottom: 2px solid white;
    
}

.avatar-img{
    display: flex;
    justify-content: center;
}
.avatar-img img{
    width: 60%;
    border-radius: 50%;
 
}

.name-role{
    align-items: center;
}

.name{
    font-weight: 800;
    text-align: center;
}

.role{
    font-weight: 300;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   margin-left: 25%;
    width: 75%;
    height: 80vh;


    animation: transitionInIntro 1s;
  
}